* {
  font-family : sans-serif;
}

.ins{
	position: relative;
	background-color: #f5f5f5;
	padding: 10px;
	padding-top: 0px;
	.ins_header{
	  font-size: 18px;
		h3{
		  display: inline-block;
		}
		.jumplink{
		  float: right;
		  font-size: 12px;
		  margin-top: 25px;
		}
	}
}


// Header
.header{
  margin-bottom: 35px;
	img{
	  width: auto;
	}
}

.jumbotron{
	h1 {
	  margin-top : 0px;
	  margin:0px;
	  background-color: #f9f9f9;
	}
	img{
		.logo{
			 width: auto;
		}
	}
}

.btn {
  margin-bottom: 30px;
}

hr{
  margin: 40px 0px;
}

img{
  width: auto;
  width: 50%;
  max-width: 100%;
}

.step {
  margin-top: 30px;
  color: light-grey;
  display: inline-block;
  width: 45%;
  text-align: center;
  vertical-align: bottom;
	p{
	  font-size:16px;
	  line-height:1em;
	  min-height: 2em;
	  text-align: left;
	}
}

@media all and (max-width:600px){

  .container{
    padding: 0px;
  }

  .jumbotron{
    padding: 5px;
		p{
	    font-size: 12px;
	  }
  }

  .center-block{
    margin-bottom: 10px;
  }

  h3{
    margin: 10px auto;
    font-size: 18px;
  }

  .ins_header .jumplink{
    float: none;
    display: block;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .step{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .btn {
    max-width: 300px;
    font-size: 14px;
  }
}
